@model Seiton.Models.Projeto

<div>
    <div class="modal">
        <div class="modal-content">
            <h1>Editar Projeto</h1>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="aviso"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="nome_projeto" class="control-label"></label>
                    <input asp-for="nome_projeto" maxlength="10" class="form-control" />
                </div>
                <span asp-validation-for="nome_projeto" class="aviso"></span>
                <div class="form-group" style="display: none;">
                    <label asp-for="IdUsuario" class="control-label"></label>
                    <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                </div>
                <span asp-validation-for="IdUsuario" class="aviso"></span>
                <div>
                    <a class="backPage">Voltar</a> |
                    <input class="btn" type="submit" value="Editar" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}