@model Seiton.Models.Projeto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Projeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nome_projeto" class="control-label"></label>
                <input asp-for="nome_projeto" class="form-control" />
                <span asp-validation-for="nome_projeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quant_colunas" class="control-label"></label>
                <select asp-for="quant_colunas" class="form-control" asp-items="Html.GetEnumSelectList<QuantColunas>()"></select>
                <span asp-validation-for="quant_colunas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
