body {
}

#myModal {
    width: 400px;
}

* {
    margin: 0;
    /*border: 2px solid red;*/
}

.Container {
    display: inline;
    display: flex;
    height: 100vh;
}

    .Container .Container_Body {
        width: 87.8%;
        padding: 0;
        display: block;
    }

/*Menu do usuário*/

.project-name-dropdown {
    color: #343434;
    position: absolute;
    margin-left: 80vw;
    margin-top: 4.5vh;
    font-size: 1.6rem;
    font-family: sans-serif;
}

/* Estilize o contêiner do dropdown */
.dropdown {
    position: absolute;
    display: inline-block;
    margin-left: 76vw;
    margin-top: 3vh;
}

/* Estilize a imagem que aciona o menu suspenso */
.dropdown-image {
    cursor: pointer;
    width: 55px;
}


/* Estilize o menu suspenso oculto */
.dropdown-content {
    display: none; 
    position: absolute;
    margin-left: -5vw;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Estilize os itens do menu suspenso */
    .dropdown-content a, button {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 0.8rem;
        display: block;

    }

    .dropdown-content button {
        width: 100%;
        background-color: white;
        cursor: pointer;
        border: none;
        text-align: left;
    }

        /* Altere a cor do link quando passar o mouse sobre ele */
        .dropdown-content a:hover, button:hover {
            background-color: #ddd;
        }



/*Barra lateral com os projetos*/
.side-bar-background {
    width: 12%;
    float: left;
    background-color: #F2F2F2;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
}

    .side-bar-background .white-blue {
        background-color: #2A6092;
        height: 98%;
        width: 100%;
        border-radius: 0px 500px 10px 500px;
        border-top: 20px solid #4EAAFF;
    }

        .side-bar-background .white-blue h1 {
            margin-top: 11%;
            position: absolute;
            font-family: sans-serif;
            font-size: 2rem;
            color: white;
            margin-left: 0.5%;
        }



/* Lista de projetos */
.white-blue ul {
    margin-top: calc(100vw / 7);
    list-style-type: none;
}


.white-blue ul li {
    margin-top: 10px;
}

    .white-blue ul li .project-name {
        color: white;
        text-decoration: none;
        font-size: 1.8rem;
        font-family: sans-serif;
    }

        .white-blue ul li .project-name:hover {
            color: yellow;
        }


/* Botão de adicionar */
.white-blue .adicionar {
    margin-top: 10%;
    display: flex;
    text-align: center;
}

    .white-blue .adicionar a {
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        text-decoration: none;
        margin-top: 2%;
        font-family: sans-serif;
    }

    .white-blue .adicionar span {
        font-size: 1.5rem;
        margin-top: 2%;
        color: white;
        padding-left: 30%;
    }


.white-blue hr {
    width: 70%;
    margin-left: 14%;
    margin-top: 8%;
}

.info_container {
    display: flex;
    align-items: center;
}

    .info_container h1 {
        font-size: 1.7rem;
        color: #343434;
        font-family: sans-serif;
        margin-left: 2%;
    }

    .info_container h4 {
        font-size: 1.7rem;
        margin-left: 10px;
        color: #343434;
        font-family: sans-serif;
    }


.colum_container {
    display: flex;
    height: 75%;
    width: 100%;
}

    .colum_container .coluna {
        margin-top: 5%;
        display: flex;
        align-items: normal;
        align-items: flex-start;
        width: 100%;
        height: 8%;
    }

        .colum_container .coluna h3 {
            float: right;
            margin-top: 1%;
            margin-left: 4%;
            color: #343434;
        }

        .colum_container .coluna .color_colum {
            margin-left: 8%;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 30px;
            width: 30px;
        }

            .colum_container .coluna .color_colum .icolor_colum {
                background-color: white;
                z-index: 1;
                border-radius: 50px;
                height: 20px;
                width: 20px;
            }

.info_container {
    border-top: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
    background-color: #F5F5F5;
    height: 10%;
    margin-top: 8%;
    width: 100%;
}


.columContainerInt {
    width: 20%;
    border-right: 1px solid #BEBEBE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adicionarTarefa {
    border: 2px solid #37C936;
    width: 50%;
    height: 6%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    #adicionarTarefa span {
        color: rgba(55, 201, 54, 1);
        font-size: 2rem;
    }

    #adicionarTarefa a {
        color: rgba(55, 201, 54, 1);
        font-size: 1.2rem;
        text-decoration: none;
        font-family: sans-serif;
    }

.tarefa {
    margin-top: 8%;
    padding: 5%;
    width: 75%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: -7px 7px 20px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: -7px 5px 22px -2px rgba(0,0,0,0.2);
}

    .tarefa .paragrafo {
        width: 90%;
        margin-top: 5%;
    }

    .tarefa .paragrafo2 {
        width: 90%;
        margin-top: 5%;
        text-align: center;
    }

    .tarefa h4 {
        margin-right: 70%;
    }

    .tarefa hr {
        width: 95%;
        margin-top: 5%;
    }


/* Configuação dos modais */
.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-content {
    position: absolute;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.26);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 600px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}