
#myModal {
    width: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /*border: 2px solid red;*/
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 10px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #2A6092;
}

.Container {
    display: inline;
    display: flex;
    height: 100vh;
}

    .Container .Container_Body {
        width: 87.8%;
        padding: 0;
        display: block;
        height: auto;
        margin-left: 12%;
        
    }

/*Menu do usuário*/

.project-name-dropdown {
    color: #343434;
    position: absolute;
    margin-left: 80vw;
    margin-top: 4.5vh;
    font-size: 1.6rem;
    font-family: sans-serif;
}

/* Estilize o contêiner do dropdown */
.dropdown {
    position: absolute;
    display: inline-block;
    margin-left: 76vw;
    margin-top: 3vh;
}

/* Estilize a imagem que aciona o menu suspenso */
.dropdown-image {
    cursor: pointer;
    width: 55px;
}


/* Estilize o menu suspenso oculto */
.dropdown-content {
    display: none; 
    position: absolute;
    margin-left: -5vw;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Estilize os itens do menu suspenso */
    .dropdown-content a, button {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 0.8rem;
        display: block;
        align-items: center;
        display: flex;
    }

    .dropdown-content button {
        width: 100%;
        background-color: white;
        cursor: pointer;
        border: none;
        text-align: left;

    }

        /* Altere a cor do link quando passar o mouse sobre ele */
        .dropdown-content a:hover, button:hover {
            background-color: #ddd;
        }



/*Barra lateral com os projetos*/
.side-bar-background {
    width: 12%;
    position: fixed;
    float: left;
    z-index: 1;
    height: 100%;
    background-color: #F2F2F2;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

    .side-bar-background .white-blue {
        background-color: #2A6092;
        height: 98%;
        width: 100%;
        border-radius: 0px 500px 0px 500px;
        border-top: 20px solid #4EAAFF;
        border-bottom: 20px solid #4EAAFF;
    }

        .side-bar-background .white-blue h1 {
            margin-top: 90%;
            position: absolute;
            font-family: sans-serif;
            font-size: 2rem;
            color: white;
            margin-left: 0.5%;
        }

/* Lista de projetos */
.white-blue ul {
    margin-top: calc(100vw / 7);
    list-style-type: none;
}


.white-blue ul li {
    margin-top: 10px;
}

    .white-blue ul li .project-name {
        color: white;
        text-decoration: none;
        margin-left: 15%;
        font-size: 1.8rem;
        font-family: sans-serif;
    }

        .white-blue ul li .project-name:hover {
            color: #4EAAFF;
        }


/* Botão de adicionar projeto*/
.white-blue .adicionar {
    margin-top: 5%;
    display: flex;
    text-align: center;
}

    .white-blue .adicionar button {
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        text-decoration: none;
        margin-top: 4%;
        margin-left: -5%;
        font-family: sans-serif;
        background-color: transparent;
        border: none;
    }

        .white-blue .adicionar button:hover {
            color: #4EAAFF;
        }

        .white-blue .adicionar span {
        font-size: 1.5rem;
        margin-top: 10%;
        color: white;
        padding-left: 30%;
    }


.white-blue hr {
    width: 70%;
    margin-left: 14%;
    margin-top: 8%;
}

/* Cabeçalho e menu do projeto*/
.info_container {
    align-items: center;
    display: flex;
    border-top: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
    background-color: #F5F5F5;
    height: 10%;
    margin-top: 8%;
    width: 100%;
}

    .info_container h1 {
        font-size: 1.7rem;
        color: #343434;
        font-family: sans-serif;
        margin-left: 2%;
    }

    .info_container h4 {
        font-size: 1.7rem;
        margin-left: 10px;
        color: #343434;
        font-family: sans-serif;
    }

    /*menu*/
    .info_container details {
        height: 5px;
        z-index: 1;
        color: #343434;
        margin-left: 1%;
        margin-top: -18px;
        /*position: absolute;*/
    }

        .info_container details summary {
            cursor: pointer;
            font-size: 1.3rem;
        }

        .info_container details button {
            color: #333;
            padding: 12px 16px;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 0.8rem;
            text-align: left;
            width: 100%;
            background-color: white;
            cursor: pointer;
            border: none;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            min-width: 160px;
        }

            .info_container details button:hover {
                background-color: #ddd;
            }

/* Ícones dos menus*/

.foto-button {
    width: 20px;
    height: 20px;
}

/* Estilo das Colunas */
.colum_container {
    display: flex;
    height: auto;
    min-height: 75%;
    width: 100%;

}

    .colum_container .coluna {
        margin-top: 5%;
        display: flex;
        width: 100%;
        min-height: 4%;
        padding: 0;
        align-items: center;
    }

        .colum_container .coluna h3 {
            color: #343434;
            margin-left: 4%;
            min-width: 60%;
            max-width: 60%;
        }

        .colum_container .coluna .color_colum {
            margin-left: 8%;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 30px;
            width: 30px;
        }

            .colum_container .coluna .color_colum .icolor_colum {
                background-color: white;
                border-radius: 50px;
                height: 20px;
                width: 20px;
            }

        .colum_container .coluna button {
            background: none;
            border: none;
            align-items: center;
            justify-content: center;
            padding: 0px;
            cursor: pointer;
        }

.columContainerInt {
    width: 20%;
    border-right: 1px solid #BEBEBE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
}

    .columContainerInt .NTarefas {
        margin-left: -50%;
        margin-top: 2%;
        font-size: 0.8rem;
        color: #343434;
        font-family: sans-serif;
    }

    .columContainerInt hr {
        width: 95%;
        margin-top: 3%;
        margin-bottom: 5%;
    }

/* Botão de adicionar tarefas*/
#adicionarTarefa {
    border: 2px solid #37C936;
    width: 50%;
    min-height: 4vh;
    max-height: 4vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#adicionarTarefa span {
    color: rgba(55, 201, 54, 1);
    font-size: 1.5rem;
}

    #adicionarTarefa button {
        color: rgba(55, 201, 54, 1);
        font-size: 1.2rem;
        text-decoration: none;
        font-family: sans-serif;
        background-color: transparent;
        border: none;
        margin-left: -5%;
        cursor: pointer;
    }

/* Estilo dos cards das Tarefas */
.tarefa {
    margin-top: 8%;
    padding: 5%;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.1);
    position: relative;
}
    .tarefa button {
        margin-left: 6%;
        margin-top: 6%;
        padding: 0px;
        border: none;
        background-color: white;
        text-align: center;
    }

    .tarefa span {
        color: #343434;
        cursor: pointer;
    }

    .tarefa .tarefaOp {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .tarefa .Responsavel {
        width: 100%
    }

    .tarefa .paragrafo {
        width: 90%;
        margin-top: 5%;
        color: #343434
    }

    .tarefa .paragrafo2 {
        width: 90%;
        margin-top: 5%;
        text-align: center;
        color: #343434;
    }

    .tarefa h4 {
        float:left;
        color: #343434
    }

    .tarefa hr {
        width: 95%;
        margin-top: 5%;
    }

.prioridade-alta:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px; /* Ajuste a altura da borda aqui */
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    background-color: #FF4167;
}

.prioridade-media:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px; /* Ajuste a altura da borda aqui */
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    width: 66.66%;
    background-color: #FFB64F;
}

.prioridade-baixa:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px; /* Ajuste a altura da borda aqui */
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    width: 33.33%;
    background-color: #37C936;
}


/* Configuração dos modais */
.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.modal-content {
    position: absolute;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.26);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 600px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.form-group {
    padding: 2px;
}

@media screen and (min-width: 481px) and (max-width:768px) {
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    #adicionarTarefa { /* Botão de adicionar tarefas*/
        width: 85%;
    }

    .project-name-dropdown { /* Nome de usuario*/
        margin-left: 65vw;
        margin-top: 2.8vh;
    }

    .dropdown { /* Imagem do usuario*/
        margin-left: 60vw;
        margin-top: 1.4vw;
    }

    .colum_container .coluna .color_colum { /* Circulos das colunas / cor*/
        height: 20px;
        width: 20px;
    }

        .colum_container .coluna .color_colum .icolor_colum { /* Circulos das colunas / cor*/

            height: 10px;
            width: 10px;
        }

    .columContainerInt .NTarefas { /* txt N° tarefas*/
        margin-left: -30%;
        margin-top: 2%;
    }

    .white-blue ul li .project-name { /*Nome do projeto*/
        font-size: 1rem;
    }

    .white-blue .adicionar button { /* Txt botão novo*/
        font-size: 1rem;
    }


    .white-blue .adicionar span { /* Conjunto + novo botão */
        padding-left: 10%;
    }


    .white-blue hr { /* Barra do botão novo */
        margin-top: 3%;
    }

    .side-bar-background .white-blue h1 { /* Projetos txt*/
        font-size: 1.6rem;
    }

    /* Estilize a imagem que aciona o menu suspenso perfil */
    .dropdown-image {
        width: 40px;
    }

    h2 {
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 1025px) and (max-width:1200px) {

    #adicionarTarefa { /* Botão de adicionar tarefas*/
        width: 85%;
    }

    .project-name-dropdown { /* Nome de usuario*/
        margin-left: 67vw;
        margin-top: 3vh;
    }

    .dropdown { /* Imagem do usuario*/
        margin-left: 60vw;
        margin-top:0.8vw;
    }

    .colum_container .coluna .color_colum { /* Circulos das colunas / cor*/
        height: 20px;
        width: 20px;
    }

    .colum_container .coluna .color_colum .icolor_colum { /* Circulos das colunas / cor*/

        height: 10px;
        width: 10px;
    }

    .columContainerInt .NTarefas { /* txt N° tarefas*/
        margin-left: -30%;
        margin-top: 2%;
    }

    .white-blue ul li .project-name { /*Nome do projeto*/
        font-size: 0.8rem;
    }

    .white-blue .adicionar button { /* Txt botão novo*/
        font-size: 1.2rem;
    }


    .white-blue .adicionar span { /* Conjunto + novo botão */
        padding-left: 10%;
    }


    .white-blue hr { /* Barra do botão */
        margin-top: 3%;
    }

    .side-bar-background .white-blue h1 { /* Projetos txt*/
        font-size: 1.6rem;

    }

    /* Estilize a imagem que aciona o menu suspenso perfil */
    .dropdown-image {
        width: 45px;
    }

    h2 {
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 1201px) and (max-width:1366px) { /* PC Marcos*/

    #adicionarTarefa { /* Botão de adicionar tarefas*/
        width: 74%;
    }

    .project-name-dropdown { /* Nome de usuario*/
        margin-left: 75vw;
        margin-top: 5.3vh;
        font-size: 1.5rem;
    }

    .dropdown { /* Imagem do usuario*/
        margin-left: 70vw;
        margin-top: 3.7vh;
    }

    /* Estilize a imagem que aciona o menu suspenso perfil */
    .dropdown-image {
        width: 45px;
    }

    .white-blue ul li .project-name { /*Nome do projeto*/
        font-size: 1.1rem;
        
    }

    .white-blue .adicionar button { /* Txt botão novo*/
        font-size: 1.3rem;
    }

    .white-blue .adicionar span { /* Conjunto + novo botão */
        font-size: 1.5rem;
        margin-top: 10%;
        padding-left: 20%;
    }

    .white-blue hr { /* Barra do botão */
        margin-top: 3%;
    }

    h2 {
        font-size: 1.2rem;
    }

    .white-blue ul li .project-name { /*Nome do projeto*/
        font-size: 0.9rem;
    }

}

@media screen and (min-width: 1367px) and (max-width:1880px) {


    .columContainerInt { /* colunas*/
        width: 20%;
    }

    /* Botão de adicionar tarefas*/
    #adicionarTarefa {
        width: 74%;

    }

    .project-name-dropdown { /* Nome de usuario*/
        margin-left: 68vw;
        margin-top: 3.1vh;
        font-size: 1.8rem;
    }

    .dropdown { /* Imagem do usuario*/
        margin-left: 63vw;
        margin-top: 1vw;
    }

    /* Estilize a imagem que aciona o menu suspenso perfil */
    .dropdown-image {
        width: 60px;
    }

    .columContainerInt .NTarefas { /* Txt Numero da tarefa*/
        font-size: 1rem;
        margin-left: -40%;
    }


    .side-bar-background .white-blue h1 { /* Projetos txt*/
        font-size: 2.1rem;
    }


    .white-blue ul li .project-name { /*Nome do projeto*/
        font-size: 1.1rem;
    }

    .white-blue .adicionar button { /* Txt botão novo*/
        font-size: 1.5rem;
    }


    .white-blue .adicionar span { /* Conjunto + novo botão */
        font-size: 1.5rem;
        margin-top: 10%;
        padding-left: 17%;
    }


    .white-blue hr { /* Barra do botão Novo */
        margin-top: 3%;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1921px) and (max-width:2560px) {

    .columContainerInt .NTarefas { /* txt N° tarefa*/
        font-size: 14pt;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 17pt;
    }

    p {
        font-size: 23px;
    }

    .columContainerInt { /* Coluna*/
        width:20%;
    }

    .project-name-dropdown { /* Nome de usuario*/
        margin-left: 74vw;
        margin-top: 4.5vh;
        font-size: 2.2rem;
    }

    .dropdown { /* Imagem do usuario*/
        margin-left: 69vw;
        margin-top: 3.1vh;
    }

    /* Estilize a imagem que aciona o menu suspenso perfil */
    .dropdown-image {
        width: 65px;
    }

    .side-bar-background .white-blue h1 { /* Projetos txt*/
        font-size: 2.8rem;
    }


    .white-blue ul li .project-name { /*Nome do projeto*/
        font-size: 1.5rem;
    }

    .white-blue .adicionar button { /* Txt botão novo*/
        font-size: 2rem;
    }


    .white-blue .adicionar span { /* Conjunto + novo botão */
        font-size: 2rem;
        margin-top: 10%;
        padding-left: 24%;
    }


    .white-blue hr { /* Barra do botão Novo */
        margin-top: 3%;
    }

    .info_container h1 { /* Nome projeto do header*/
        font-size: 2.3rem;
  
    }

    .info_container h4 { /* Nome projeto do header*/
        font-size: 2.3rem;

    }

}