@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Lobster&display=swap');


body {
    font-family: 'Arimo';
}
#boxAll { /* Container 2 */
    display: grid;
    grid-template-areas:
        "img titulo"
        "img formulario";
    grid-template-rows: 70px 250px;
    grid-template-columns: 380px 350px;

}

#box1 { /* Container 1 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10% auto;
}

.imgOffice { /* Imagem do banner GRID AREA */
    grid-area: img;
    background-color: rgb(42,96,144);
    border-radius: 20px 0px 0px 58%;
}

#imgLogin { /* Imagem do banner */
    width:430px;
    margin-top: -45px;
    margin-left: 0px;
    position: relative;
}

.titulo { /* Titulo logar GRID AREA */
    grid-area: titulo;
    background-color: rgb(42,96,144);
    border-radius: 0px 20px 0px 0;
}

.formulario { /* Formulario usuario e senha GRID AREA */
    grid-area: formulario;
    background-color: rgb(42,96,144);
    border-radius: 0px 0px 20px 0;
}


.botoes2 { /* Container dos botões*/
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left:-40px;
}

.voltar2 { /* Botão voltar*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: steelblue;
    color: white;
    width: 20%;
    height: 25px;
    font-size: 11pt;
    transition: 1s;
    position: relative;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 0px 0px rgb(0,0,0, 0.2);
    text-decoration: none;
}

    .voltar2:hover {
        background-color: rgb(98, 98, 98);
    }


.btn { /* Botão ENTRAR */
    text-align: center;
    background-color: rgb(78,170,255);
    color: white;
    width: 20%;
    height: 25px;
    font-size: 11pt;
    transition: 1s;
    position: relative;
    border-radius:5px;
    border:none;
    box-shadow:0px 2px 0px 0px rgb(0,0,0, 0.2)
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(35, 159, 64);
}

#goToCreate2 {
    padding: 35px;
    color: white;
    display: flex;
    justify-content: center;
    font-size:9pt;
}

    #goToCreate2:hover {
        color: deepskyblue;
    }

h1 { /* Titulo LOGAR */
    color: white;
    font-size: 20pt;
    margin-left: 50px;
    margin-top: 7px
}


h3 { /* Msg usuario ou senha inválidos */
    color: rgb(255, 10, 50);
    font-size: 11pt;
    text-align: center;
    justify-content: center;
    position: relative;
}

p { /* Txt nome e senha */
    color: white;
    display: flex;
    font-size: 14pt;

}

    p::first-letter{
        font-size:150%;
    }

    ::placeholder { /* Mensagem placeholder*/
        color: rgb(198, 198, 198);
        font-size: 11pt;
    }


.col-md-4 { /* Formulário ( Tamanho) */
    width: 80%;
    margin-left: 50px;
    margin-top:-18px;
    
}

.form-group1 input { /* Formulário nome ( Bordas) */
  
    width:80%;
    border: none;
    height: 3px;
    border-bottom: 1px solid white;
    background-color: rgb(42,96,144);
    color: white;
    border-radius: 0px;
 
}

.form-group2 input { /* Formulário senha ( Bordas) */
    width: 80%;
    border: none;
    height: 3px;
    border-bottom: 1px solid white;
    background-color: rgb(42,96,144);
    color: white;
    border-radius: 0px;
}


.form-group1 input:focus { /* Formulário nome ( Selecionado) */
    background-color: rgb(42,96,144);
    color: white;
    outline: none;
}

.form-group2 input:focus { /* Formulário nome ( Selecionado) */
    background-color: rgb(42,96,144);
    color: white;
    outline: none;
}


.text-create-1 { /* Btn criar conta */
    margin-right: 15px;
    color:white;
}

.text-create-1:hover { /* Btn criar conta */
    color: deepskyblue;
}

.text-danger { /* Texto da mensagem de usuario e senha requerido*/
    color: rgb(255, 10, 50);
    font-size: 11pt;
}

.form-group1 { /* Formulário input*/
    margin-top: -16px;
    margin-bottom: 20px;
}

.form-group2 { /* Formulário input*/
    margin-top: -16px;
}


@media screen and (max-width: 760px){
    #boxAll { /* Container 2 */
     width:50%;
    }
}


