@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Lobster&display=swap');


body {
    font-family: Arimo;
}

#boxAll { /* Container 2 */
    display: grid;
    grid-template-areas:
        "img titulo"
        "img formulario";
    grid-template-rows: 4vmax 20vmax;
    grid-template-columns: 32vmax 23vmax;
}

#box1 { /* Container 1 */
    width: 97vmax;
    height: 95vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgOffice { /* Imagem do banner GRID AREA */
    grid-area: img;
    background-color: rgb(42,96,144);
    border-radius: 20px 0px 0px 58%;
}

#imgLogin { /* Imagem do banner */
    width:32vmax;
    margin-top: -3.5vmax;
    margin-left: -10px;
    position: relative;
}

.titulo { /* Titulo logar GRID AREA */
    grid-area: titulo;
    background-color: rgb(42,96,144);
    border-radius: 0px 20px 0px 0;
}

.formulario { /* Formulario usuario e senha GRID AREA */
    grid-area: formulario;
    background-color: rgb(42,96,144);
    border-radius: 0px 0px 20px 0;
    overflow-y: auto;
}

.botoes2 {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.voltar2 { /* Botão voltar*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: steelblue;
    color: white;
    width: 20%;
    height: 25px;
    font-size: 13pt;
    transition: 1s;
    position: relative;
    font-family: 'Arimo';
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 0px 0px rgb(0,0,0, 0.2);
    text-decoration: none;
}

    .voltar2:hover {
        cursor: pointer;
        background-color: rgb(98, 98, 98);
    }

.btn { /* Botão Entrar */
    text-align: center;
    background-color: rgb(78,170,255);
    color: white;
    width: 20%;
    height: 25px;
    font-size: 13pt;
    transition: 1s;
    position: relative;
    font-family: 'Arimo';
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 0px 0px rgb(0,0,0, 0.2)
}

    .btn:hover {
        cursor: pointer;
        background-color: rgb(35, 159, 64);
    }

#containerGoTo{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    width:19vmax;
    height:5vmax;
}

#goToCreate2 { /* Link para tela criar conta*/
    color: white;
    font-size: 9pt;
    margin-left: 8%;
}

    #goToCreate2:hover {
        color: deepskyblue;
    }

h1 { /* Titulo LOGAR */
    font-family: 'Arimo';
    color: white;
    font-size: 1.5em;
    margin-left: 20px;
    margin-top: 7px;
}


h3 { /* Msg usuario ou senha inválidos */
    color: red;
    font-size: 0.8em;
    text-align: center;
    margin-left:0px;
    position:relative;
}

p { /* Txt nome e senha */
    font-family: 'Arimo';
    color: white;
    display: flex;
    font-size: 1em;

}


.col-md-4 { /* Formulário ( Tamanho) */
    width: 80%;
    margin-left: 20px;
    margin-top:-18px;
    
}

.form-group1 input { /* Formulário nome ( Bordas) */

    width: 95%;
    border: none;
    height: 3px;
    border-bottom: 1px solid white;
    background-color: rgb(42,96,144);
    color: lightblue;
    border-radius: 0px;
}

.form-group2 input { /* Formulário senha ( Bordas) */
    width: 95%;
    border: none;
    height: 3px;
    border-bottom: 1px solid white;
    background-color: rgb(42,96,144);
    color: lightblue;
    border-radius: 0px;
}


.form-group1 input:focus { /* Formulário nome ( Selecionado) */
    background-color: rgb(42,96,144);
    color: white;
    outline: none;
}

.form-group2 input:focus { /* Formulário nome ( Selecionado) */
    background-color: rgb(42,96,144);
    color: white;
    outline: none;
}


.text-create-1 { /* Btn criar conta */
    margin-right: 15px;
    color:white;
}

.text-create-1:hover { /* Btn criar conta */
    color: deepskyblue;
}

.text-danger {
    color: red;
    font-size: 0.8em;
}

.form-group1 {
    margin-top: -16px;
    margin-bottom: 20px;
}

.form-group2{
    margin-top: -16px;
}

.border-top{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

::placeholder{
    color: rgb(198, 198, 198);
    font-size:1em;
}



@media screen and (min-width: 481px) and (max-width:768px) {

    #boxAll { /* Container 2 */
        grid-template-rows: 6vmax 26vmax;
        grid-template-columns: 39vmax 35vmax;
    }

    #imgLogin { /* Imagem do banner */
        width: 43vmax;
        margin-top: -4.2vmax;
        margin-left: -15px;
        position: relative;
    }

    h1 { /* Titulo LOGAR */
        font-size: 2em;
        margin-left: 20px;    
    }

    h3 { /* Msg usuario ou senha inválidos */
        font-size: 0.7em;
    }

    p { /* Txt nome e senha */

        display: flex;
        font-size: 1.6em;
    }

    .text-danger {
        color: red;
        font-size: 0.7em;
    }

    .voltar2 {
        width: 23%;
        height: 17px;
        font-size: 0.8em;
    }

    .btn { /* Botão ENTRAR */     
        width: 23%;
        height: 17px;
        font-size: 0.8em;
    }

    #senhaTxt{
        margin-top:-8px;
    }

    #goToCreate2 { /* Link para tela criar conta*/
        color: white;
        font-size: 8pt;
        margin-left: 8%;
    }

    #containerGoTo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 30vmax;
        height: 3vmax;
    }

    ::placeholder {
        color: rgb(198, 198, 198);
        font-size: 16pt;
    }

    .form-group1 input { /* Formulário nome ( Bordas) */
        height: 8px;
        font-size: 16pt;
    }

    .form-group2 input { /* Formulário nome ( Bordas) */
        height: 8px;
        font-size: 16pt;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {

    #boxAll { /* Container 2 */
        grid-template-rows: 5.4vmax 26vmax;
        grid-template-columns: 39vmax 35vmax;
    }

    #imgLogin { /* Imagem do banner */
        width: 42vmax;
        margin-top: -4.2vmax;
        margin-left: -15px;
        position: relative;
    }

    h1 { /* Titulo LOGAR */
        font-size: 2.5em;
        margin-left: 20px;
    }

    h3 { /* Msg usuario ou senha inválidos */
        font-size: 1em;
    }

    p { /* Txt nome e senha */

        display: flex;
        font-size: 1.8em;
    }

    .text-danger {
        color: red;
        font-size: 1em;
    }

    .botoes2 {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .voltar2 {
        width: 23%;
        height: 20px;
        font-size: 0.9em;
    }

    .btn { /* Botão ENTRAR */
        width: 23%;
        height: 20px;
        font-size: 0.9em;
    }

    #goToCreate2 { /* Link para tela criar conta*/
        color: white;
        font-size:9pt;
        margin-left: 8%;
    }

    #containerGoTo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 30vmax;
        height: 1.5vmax;
    }

    ::placeholder {
        color: rgb(198, 198, 198);
        font-size: 20pt;
    }
    .form-group1 input { /* Formulário nome ( Bordas) */
       height:8px;
        font-size: 20pt;
    }

    .form-group2 input { /* Formulário nome ( Bordas) */
        height: 8px;
        font-size: 20pt;
    }

}

@media screen and (min-width: 1025px) and (max-width:1200px) {

    #boxAll { /* Container 2 */
        grid-template-rows: 6vmax 25vmax;
        grid-template-columns: 39vmax 35vmax;
    }

    #imgLogin { /* Imagem do banner */
        width: 42vmax;
        margin-top: -4.2vmax;
        margin-left: -15px;
        position: relative;
    }

    h1 { /* Titulo LOGAR */
        font-size: 2.5em;
        margin-left: 20px;
    }

    h3 { /* Msg usuario ou senha inválidos */
        font-size: 1.2em;
    }

    p { /* Txt nome e senha */

        display: flex;
        font-size: 1.7em;
    }

    .text-danger {
        color: red;
        font-size: 1.2em;
    }

    .botoes2 {
        margin-top: 23px;
    }

    .voltar2 {
        width: 23%;
        height: 25px;
        font-size: 1em;
    }

    .btn { /* Botão ENTRAR */
        width: 23%;
        height: 25px;
        font-size: 1em;
    }

    #goToCreate2 { /* Link para tela criar conta*/
        color: white;
        font-size: 11pt;
        margin-left: 8%;
    }

    #containerGoTo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 30vmax;
        height: 1.1vmax;
    }

    ::placeholder {
        color: rgb(198, 198, 198);
        font-size: 20pt;
    }

    .form-group1 input { /* Formulário nome ( Bordas) */
        height: 14px;
        font-size: 20pt;
    }

    .form-group2 input { /* Formulário nome ( Bordas) */
        height: 14px;
        font-size: 20pt;
    }
    
}

@media screen and (min-width: 1201px) and (max-width:1366px) {

    #boxAll { /* Container 2 */
        grid-template-rows: 6vmax 25vmax;
        grid-template-columns: 39vmax 35vmax;
    }

    #imgLogin { /* Imagem do banner */
        width: 43vmax;
        margin-top: -4.2vmax;
        margin-left: -15px;
        position: relative;
    }

    h1 { /* Titulo LOGAR */
        font-size: 3em;
        margin-left: 20px;
    }

    h3 { /* Msg usuario ou senha inválidos */
        font-size: 1.2em;
    }

    p { /* Txt nome e senha */

        display: flex;
        font-size: 2em;
    }

    .text-danger {
        color: red;
        font-size: 1.2em;
    }

    .voltar2 {
        width: 23%;
        height: 28px;
        font-size: 1.3em;
    }

    .btn { /* Botão ENTRAR */
        width: 23%;
        height: 28px;
        font-size: 1.3em;
    }

    #goToCreate2 { /* Link para tela criar conta*/
        color: white;
        font-size: 13pt;
        margin-left: 8%;
    }

    #containerGoTo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 30vmax;
        height: 1.3vmax;
    }

    ::placeholder {
        color: rgb(198, 198, 198);
        font-size: 18pt;
    }

    .form-group1 input { /* Formulário nome ( Bordas) */
        height: 14px;
        font-size: 20pt;
    }

    .form-group2 input { /* Formulário nome ( Bordas) */
        height: 14px;
        font-size: 20pt;
    }
}

@media screen and (min-width: 1880px) and (max-width:1920px) {

    #boxAll { /* Container 2 */
        grid-template-rows: 5vmax 22vmax;
        grid-template-columns: 34vmax 35vmax;
    }

    #imgLogin { /* Imagem do banner */
        width: 36vmax;
        margin-top: -4.2vmax;
        margin-left: -15px;
        position: relative;
    }

    h1 { /* Titulo LOGAR */
        font-size: 3.5em;
        margin-left: 20px;
    }

    h3 { /* Msg usuario ou senha inválidos */
        font-size: 1.5em;
    }

    p { /* Txt nome e senha */

        display: flex;
        font-size: 2.4em;
    }

    .text-danger {
        color: red;
        font-size: 1.5em;
    }

    .botoes2 {
        margin-top: 5%;
     
    }

    .voltar2 {
        width: 23%;
        height: 33px;
        font-size: 1.6em;
    }

    .btn { /* Botão ENTRAR */
        width: 23%;
        height: 33px;
        font-size: 1.6em;
    }

    #goToCreate2 { /* Link para tela criar conta*/
        color: white;
        font-size: 17pt;
        margin-left: 8%;
    }

    #containerGoTo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 30vmax;
        height: 1.5vmax;
    }

    ::placeholder {
        color: rgb(198, 198, 198);
        font-size: 26pt;
    }

    .form-group1 input { /* Formulário nome ( Bordas) */
        height: 22px;
        font-size: 26pt;
    }

    .form-group2 input { /* Formulário nome ( Bordas) */
        height: 22px;
        font-size: 26pt;
    }

   
}


@media screen and (min-width: 1367px) and (max-width:1880px) {

    #boxAll { /* Container 2 */
        grid-template-rows: 5vmax 22vmax;
        grid-template-columns: 34vmax 35vmax;
    }

    #imgLogin { /* Imagem do banner */
        width: 36vmax;
        margin-top: -4.2vmax;
        margin-left: -15px;
        position: relative;
    }

    h1 { /* Titulo LOGAR */
        font-size: 3.3em;
        margin-left: 20px;
    }

    h3 { /* Msg usuario ou senha inválidos */
        font-size: 1.5em;
    }

    p { /* Txt nome e senha */

        display: flex;
        font-size: 2.4em;
    }

    .text-danger {
        color: red;
        font-size: 1.5em;
    }

    .botoes2 {
        margin-top: 4%;
    }

    .voltar2 {
        width: 23%;
        height: 30px;
        font-size: 1.3em;
    }

    .btn { /* Botão ENTRAR */
        width: 23%;
        height: 30px;
        font-size: 1.3em;
    }

    #goToCreate2 { /* Link para tela criar conta*/
        color: white;
        font-size: 13pt;
        margin-left: 8%;
    }

    #containerGoTo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 30vmax;
        height: 1.8vmax;
    }

    ::placeholder {
        font-size: 29px;
    }

    .form-group1 input { /* Formulário nome ( Bordas) */
        height: 22px;
        font-size: 29px;
    }

    .form-group2 input { /* Formulário nome ( Bordas) */
        height: 22px;
        font-size: 29px;
    }
   
}

@media screen and (min-width: 1921px) and (max-width:2560px) {

    #boxAll { /* Container 2 */
        grid-template-rows: 5vmax 22vmax;
        grid-template-columns: 34vmax 35vmax;
    }

    #imgLogin { /* Imagem do banner */
        width: 36vmax;
        margin-top: -4.2vmax;
        margin-left: -15px;
        position: relative;
    }

    h1 { /* Titulo LOGAR */
        font-size: 4em;
        margin-left: 20px;
    }

    h3 { /* Msg usuario ou senha inválidos */
        font-size: 2em;
    }

    p { /* Txt nome e senha */

        display: flex;
        font-size: 2.7em;
    }

    .text-danger {
        color: red;
        font-size: 2em;
    }

    .botoes2 {
        margin-top: 11%;
    }

    .voltar2 {
        width: 23%;
        height: 45px;
        font-size: 2em;
    }

    .btn { /* Botão ENTRAR */
        width: 23%;
        height: 45px;
        font-size: 2em;
    }

    #goToCreate2 { /* Link para tela criar conta*/
        color: white;
        font-size: 19pt;
        margin-left: 8%;
    }

    #containerGoTo {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 30vmax;
        height: 2.5vmax;
    }

    ::placeholder {
        color: rgb(198, 198, 198);
        font-size: 38px;
    }

    .form-group1 input { /* Formulário nome ( Bordas) */
        height: 22px;
        font-size: 38px;
    }
    .form-group2 input { /* Formulário nome ( Bordas) */
        height: 22px;
        font-size: 38px;
    }
}