@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Lobster&display=swap');

body {
    font-family: Arimo;
}

#containerPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 11% auto;

}

.containerForm { /* Formulario container */
    display: grid;
    grid-template-areas:
        "imagem titulo"
        "imagem formulario";
    grid-template-rows: 50px 290px;
    grid-template-columns: 380px 350px;
    
}

.imgOffice2 { /* Grid da imagem*/
    grid-area: imagem;
    background-color: rgb(42,96,144);
    border-radius: 20px 0px 0px 58%;
}

.titulo2 { /*Grid do titulo*/
    grid-area: titulo;
    background-color: rgb(42,96,144);
    border-radius: 0px 20px 0px 0;
}

#formulario2 { /* Grid da área formulario*/
    grid-area: formulario;
    background-color: rgb(42,96,144);
    border-radius: 0px 0px 20px 0;
    overflow: auto; /* Adiciona uma barra de rolagem quando necessário */

}

    #imgLogin2 { /* Imagem do banner*/
    width:116%;
    margin-top: -45px;
    position: relative;
}

.formAll { /* Todo o formulário */
    margin-left: 60px;
}

.form-group1-create input { /* Todo o formulário */
    display: block;
    width: 75%;
    border: none;
    height: 3px;
    border-bottom: 1px solid white;
    background-color: rgb(42,96,144);
    color: white;
    border-radius: 0px;
    outline: none;
}

.form-group2-create input { /* Todo o formulário */
    display: block;
    width: 75%;
    border: none;
    height: 3px;
    border-bottom: 1px solid white;
    background-color: rgb(42,96,144);
    color: white;
    border-radius: 0px;
    outline: none;
}

.form-group3-create input { /* Todo o formulário */
    display: block;
    width: 75%;
    border: none;
    height: 3px;
    border-bottom: 1px solid white;
    background-color: rgb(42,96,144);
    color: white;
    border-radius: 0px;
    outline: none;
}

::placeholder { /* Mensagem placeholder*/
    color: rgb(198, 198, 198);
    font-size: 11pt;
}


h1 { /*  Titulo */
    margin-left: 60px;
    color: white;
    font-size: 20pt;
    margin-top: 7px
}

p { /* Textos nome, email e senha*/
    color: white;
    display: flex;
    font-size: 14pt;
    margin-bottom:0px;
}

.botoes1 { /* Container dos botões*/
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: -40px;
    margin-bottom:15px;
}

.voltar1 { /* Botão voltar*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: steelblue;
    color: white;
    width: 20%;
    height: 25px;
    font-size: 11pt;
    transition: 1s;
    position: relative;
    font-family: 'Arimo';
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 0px 0px rgb(0,0,0, 0.2);
    text-decoration: none;
}

    .voltar1:hover {
        background-color: rgb(98, 98, 98);
    }


.btn1 { /* Botão ENTRAR */
    text-align: center;
    background-color: rgb(78,170,255);
    color: white;
    width: 20%;
    height: 25px;
    font-size: 11pt;
    transition: 1s;
    position: relative;
    font-family: 'Arimo';
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 0px 0px rgb(0,0,0, 0.2)
}

    .btn1:hover {
        cursor: pointer;
        background-color: rgb(35, 159, 64);
    }

#goToCreate { /* Link para tela criar conta*/
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 9pt;
}

#goToCreate:hover {
   color:deepskyblue;
}

.text-danger { /* Mensagem caso o usuario não inserir um campo obrigatório*/
    color: rgb(255, 10, 50);
    font-size: 11pt;
    word-wrap: break-word;
}

@media screen and (max-width: 760px) {
    .containerForm { /* Container 2 */
        width: 110%;
        
    }
}