/* Estilos para o modal */
.modal2 {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
    z-index: 1;
    text-align: center;
    font-family: Arimo, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos para o conteúdo do modal */
.modal-content2 {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    /* Estilo para o título do modal */
    .modal-content2 h1 {
        font-size: 25px;
        margin-bottom: 1px;
        color: #000000;
    }

/* Estilo para o aviso em vermelho */
.aviso {
    color: #ff0000; /* Cor vermelha para os avisos */
    font-size: 14px;
    font-style: italic;
}

/* Estilo para rótulos de controle */
.control-label {
    font-weight: bold;
}

/* Estilo para campos de entrada de formulário */
.form-control{
    width: 100px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #f2f2f2;
}

/* Estilo para o botão "Salvar" */
.modal-content2 input[type="submit"] {
    background-color: #4EAAFF;
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

    .modal-content2 input[type="submit"]:hover {
        background-color: #37C936;
    }

/* Estilo para o link "Voltar" */
.modal-content2 a {
    background-color: #4EAAFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}

    .modal-content2 a:hover {
        background-color: #2A6092;
    }
