@{
    ViewData["Title"] = "teste";
}

<style>
    *{
        margin: 0;
    }
    Container {
        display:inline;
    }
    .body {

        float: right;
        width: 87.5%;
        height: 99.6vh;
    }
    .Acessos {
        text-align: right;

        margin-top: 1%;
    }

        .Acessos a {
            font-size: 1.7rem;
            font-family: sans-serif;
            margin-right: 1%;
            text-decoration: none
        }

    .side-bar-background{
        height: 99.6vh;
        width:12%;
        float: left;
        background-color: #F2F2F2;
        box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 10px 10px 0px;
    }

        .side-bar-background .white-blue {
            background-color: #2A6092;
            height: 98%;
            width: 100%;
            border-radius: 0px 500px 10px 500px;
            border-top: 20px solid #4EAAFF;
        }


</style>

<div class="Container">
    <div class="body">
        <div class="container-fluid">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="Acessos">
                    <h1>Olá, @User.Identity.Name |</h1>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                </div>
            }
        </div>

        <div class="Container">

        </div>

    </div>

    <div class="side-bar-background">
        <div class="white-blue">



        </div>
    </div>

</div>
