@{
    ViewData["Title"] = "Logado";
}
@model List<string>
<link rel="stylesheet" type="text/css" href="/css/Logado.css" media="screen" />

<div class="Container">
    <div class="header">
        @if (User.Identity.IsAuthenticated)
        {
            <details>
                <summary><img src="/img/man.png" class="foto-perfil" /></summary>
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Edit" asp-route-id="@ViewData["userId"]">Editar</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Delete" asp-route-id="@ViewData["userId"]">Apagar</a>
                <a asp-controller="Projetos" asp-action="Index">Index-Projetos</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
            </details>
            <h1>@User.Identity.Name</h1>
        }
    </div>

    <div class="side-bar-background">
        <div class="white-blue">
            <h1>Projetos</h1>
            <ul>
                @foreach (var projeto in Model)
                {
                    <li><a class="project-name" asp-area="" asp-controller="Usuarios" asp-action="Edit">@projeto</a></li>
                }
            </ul>
            <div class="adicionar">
                <span class="material-symbols-outlined">add</span>
                <a asp-controller="Projetos" asp-action="Create">Novo</a>
            </div>
            <hr />
        </div>
    </div>
</div>