@model Seiton.Models.Tarefas

<style>

    #desc {
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
        max-height: 300px;
    }

</style>

<div>
    <div class="modal">
        <div class="modal-content">
            <h1>Criar Tarefa</h1>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="aviso"></div>
                <div class="form-group">
                    <label asp-for="nome_tarefas" class="control-label"></label>
                    <input asp-for="nome_tarefas" maxlength="20" class="form-control" />
                </div>
                <span asp-validation-for="nome_tarefas" class="aviso"></span>
                <div class="form-group">
                    <label asp-for="descricao" class="control-label"></label>
                    <textarea asp-for="descricao" maxlength="300" class="form-control" id="desc"></textarea>
                </div>
                <span asp-validation-for="descricao" class="aviso"></span>
                <div class="form-group">
                    <label asp-for="prioridade" class="control-label"></label>
                    <select asp-for="prioridade" class="form-control">
                        <option value="@prioridadeOp.Baixa">Baixa</option>
                        <option value="@prioridadeOp.Média">Média</option>
                        <option value="@prioridadeOp.Alta">Alta</option>
                    </select>
                </div>
                <span asp-validation-for="prioridade" class="aviso"></span>
                <div class="form-group">
                    <label asp-for="responsavel" class="control-label"></label>
                    <input asp-for="responsavel" maxlength="15" class="form-control" />
                </div>
                <span asp-validation-for="responsavel" class="aviso"></span>
                <div>
                    <a class="backPage">Voltar</a> |
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}