@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Lobster&display=swap');

body {
    font-family: Arimo;
}

#containerPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97vmax;
    height: 97vmin;

}

.containerForm { /* Formulario container */
    display: grid;
    grid-template-areas:
        "imagem titulo"
        "imagem formulario";
    grid-template-rows: 3vmax 27vmax;
    grid-template-columns: 38vmax 35vmax;
    
}

.imgOffice2 { /* Grid da imagem*/
    grid-area: imagem;
    background-color: rgb(42,96,144);
    border-radius: 20px 0px 0px 58%;
}

.titulo2 { /*Grid do titulo*/
    background-color: rgb(42,96,144);
    border-radius: 0px 20px 0px 0;
}

.titulo2 h1{ /*Grid do titulo*/
    font-size:1.5rem;
    margin-top: 3%;
}

#formulario2 { /* Grid da área formulario*/
    background-color: rgb(42,96,144);
    border-radius: 0px 0px 20px 0;
    font-size:0.4rem;
    overflow:unset; /* Adiciona uma barra de rolagem quando necessário */

}

#formulario2 span{ /* Grid da área formulario*/
    position:absolute;
    font-size: 1rem;
    width: 500px;
    color: yellow;

}

    #formulario2 form { /* Grid da área formulario*/
        font-size: 0.6rem;
    }

    #imgLogin2 { /* Imagem do banner*/
    width:109%;
    margin-top: -55px;
    position: relative;
}

.formAll { /* Todo o formulário */
    margin-left: 30px;
}

.form-group1-create input { /* Todo o formulário */
   padding-top:0px;
    display: block;
    width: 75%;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(42,96,144);
    border-radius: 0px;
    outline: none;
    color: lightblue;
}

::placeholder { /* Mensagem placeholder*/
    color: rgb(198, 198, 198);
    font-size: 11pt;
}


h1 { /*  Titulo */
    margin-left: 30px;
    color: white;
    font-size: 20pt;
    margin-top: 7px
}

p { /* Textos nome, email e senha*/
    color: white;
    display: flex;
    font-size: 14pt;
    margin-bottom:0px;
}

.botoes1 { /* Container dos botões*/
    display: flex;
    align-items: center;
    justify-content: center;
 
    gap: 20px;


}

.voltar1 { /* Botão voltar*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: steelblue;
    color: white;
    width: 20%;
    height: 25px;
    font-size: 13pt;
    transition: 1s;
    position: relative;
    font-family: 'Arimo';
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 0px 0px rgb(0,0,0, 0.2);
    text-decoration: none;
}

    .voltar1:hover {
        background-color: rgb(98, 98, 98);
    }


.btn1 { /* Botão Criar */
    text-align: center;
    background-color: rgb(78,170,255);
    color: white;
    width: 20%;
    height: 25px;
    font-size: 13pt;
    transition: 1s;
    position: relative;
    font-family: 'Arimo';
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 0px 0px rgb(0,0,0, 0.2)
}

    .btn1:hover {
        cursor: pointer;
        background-color: rgb(35, 159, 64);
    }

#goToCreate { /* Link para tela criar conta*/
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10px;
    color: white;
}

#goToCreate:hover {
   color:deepskyblue;
}

.text-danger { /* Mensagem caso o usuario não inserir um campo obrigatório*/
    color: rgb(255, 10, 50);
    font-size: 11pt;
    word-wrap: break-word;
}


@media screen and (min-width: 481px) and (max-width:768px) {

    .containerForm { /* Formulario container */
        grid-template-rows: 5vmax 27vmax;
        grid-template-columns: 38vmax 37vmax;
    }

    #imgLogin2 { /* Imagem do banner*/
        width: 109%;
        margin-top: -33px;
        position: relative;
    }

    ::placeholder { /* Mensagem placeholder*/
        font-size: 18px;
    }

    .form-control {
        font-size: 18px;
    }

    h1 { /*  Titulo */
        font-size: 1.8em;
        margin-top: 7px
    }

    p { /* Textos nome, email e senha*/
        font-size: 1.4em;
        margin-bottom: 0px;
    }

    .botoes1 { /* Container dos botões*/
        margin-top: 9%;
 
    }

.btn1, .voltar1 { /* Botão ENTRAR */
    width: 20%;
    height: 20px;
    font-size: 9pt;
}

    #goToCreate { /* Link para tela criar conta*/
        font-size: 0.9em;

    }

    .text-danger { /* Mensagem caso o usuario não inserir um campo obrigatório*/
        font-size: 11pt;
    }

 
}

@media screen and (min-width: 769px) and (max-width:1024px) {

    .containerForm { /* Formulario container */
        grid-template-rows: 4vmax 27vmax;
        grid-template-columns: 38vmax 35vmax;
    }

    #imgLogin2 { /* Imagem do banner*/
        width: 109%;
        margin-top: -45px;
        position: relative;
    }

    ::placeholder { /* Mensagem placeholder*/
        font-size: 10px;
    }

    .form-control {
        font-size: 20px;
    }

    h1 { /*  Titulo */
        font-size: 1.8em;
        margin-top: 7px
    }

    p { /* Textos nome, email e senha*/
        font-size: 1.5em;
        margin-bottom: 0px;
    }

    .botoes1 { /* Container dos botões*/
        margin-top: 5%;
    }

    .btn1, .voltar1 { /* Botão ENTRAR */
    width: 22%;
    height: 25px;
    font-size: 12pt;
}

    #goToCreate { /* Link para tela criar conta*/
        font-size: 1.4em;
    }

    .text-danger { /* Mensagem caso o usuario não inserir um campo obrigatório*/
        font-size: 12pt;
    }

    .form-group1-create input { /* Todo o formulário */
        padding-top:0px;
        width: 75%;
        height: 3px;
    }

    
}

@media screen and (min-width: 1025px) and (max-width:1200px) {

    .containerForm { /* Formulario container */
        grid-template-rows: 4vmax 35vmax;
        grid-template-columns: 38vmax 35vmax;
    }

    #imgLogin2 { /* Imagem do banner*/
        width: 115%;
        margin-top: -40px;
        margin-left:-30px;
        position: relative;
    }

    ::placeholder { /* Mensagem placeholder*/
        font-size: 15px;
    }

    .form-control {
        font-size: 25px;
    }

    h1 { /*  Titulo */
        font-size: 2.2em;
        margin-top: 7px
    }

    p { /* Textos nome, email e senha*/
        font-size: 1.9em;
        margin-bottom: 0px;
    }

    .botoes1 { /* Container dos botões*/
        margin-top: 3%;
    }

.btn1, .voltar1 { /* Botão ENTRAR */
    width: 22%;
    height: 20px;
    font-size: 12pt;
}

    #goToCreate { /* Link para tela criar conta*/
        font-size: 1.4em;
    }

    .text-danger { /* Mensagem caso o usuario não inserir um campo obrigatório*/
        font-size: 13pt;
    }

    .form-group1-create input { /* Todo o formulário */
        padding-top: 0px;
        width: 75%;
        height: 20px;
    }

}

@media screen and (min-width: 1201px) and (max-width:1366px) {

    .containerForm { /* Formulario container */
        grid-template-rows: 3vmax 31vmax;
        grid-template-columns: 38vmax 35vmax;
    }

    #imgLogin2 { /* Imagem do banner*/
        width: 109%;
        margin-top: -60px;
        position: relative;
    }

    ::placeholder { /* Mensagem placeholder*/
        font-size: 17px;
    }

    .form-control {
        font-size: 16px;
    }


    .titulo2 h1 { /*Grid do titulo*/
        font-size: 1.8rem;
        margin-top: 1%;
    }

    p { /* Textos nome, email e senha*/
        font-size: 2.3em;
        margin-bottom: 0px;
    }

    .botoes1 { /* Container dos botões*/
        margin-top: 2%;
    }

.btn1, .voltar1 { /* Botão ENTRAR */
    width: 18%;
    height: 21px;
    font-size: 11pt;
}

    #goToCreate { /* Link para tela criar conta*/
        font-size: 1.6em;

    }

    .text-danger { /* Mensagem caso o usuario não inserir um campo obrigatório*/
        font-size: 14pt;
    }

    .form-group1-create input { /* Todo o formulário */
        margin-top:0px;
        width: 75%;
        height: 20px;
    }

  
}

@media screen and (min-width: 1880px) and (max-width:1920px) {

    .containerForm { /* Formulario container */
        grid-template-rows: 4vmax 27vmax;
        grid-template-columns: 38vmax 35vmax;
    }

    #imgLogin2 { /* Imagem do banner*/
        width: 109%;
        margin-top: -80px;
        position: relative;
    }

    ::placeholder { /* Mensagem placeholder*/
        font-size: 27px;
    }

    .form-control {
        font-size: 27px;
    }

    .titulo2 h1 { /*Grid do titulo*/
        font-size: 2.5rem;
        margin-top: 3%;
    }

    p { /* Textos nome, email e senha*/
        font-size: 3em;
        margin-bottom: 0px;
    }

    .botoes1 { /* Container dos botões*/
        margin-top: 4%;
    }

    .btn1, .voltar1 { /* Botão ENTRAR */
        width: 17%;
        height: 33px;
        font-size: 17pt;
    }

    #goToCreate { /* Link para tela criar conta*/
        font-size: 2.1em;
    }

    .text-danger { /* Mensagem caso o usuario não inserir um campo obrigatório*/
        font-size: 18pt;
    }

    .form-group1-create input { /* Todo o formulário */
        padding-top:6px;
        width: 75%;
        height: 20px;
    }
}


@media screen and (min-width: 1367px) and (max-width:1880px) {


    .containerForm { /* Formulario container */
        grid-template-rows: 4vmax 29vmax;
        grid-template-columns: 38vmax 35vmax;
    }

    #imgLogin2 { /* Imagem do banner*/
        width: 109%;
        margin-top: -80px;
        position: relative;
    }

    ::placeholder { /* Mensagem placeholder*/
        font-size: 20px;
    }

    .form-control {
        font-size: 27px;
    }

    .titulo2 h1 { /*Grid do titulo*/
        font-size: 2rem;
        margin-top: 3%;
    }

    p { /* Textos nome, email e senha*/
        font-size: 2.3em;
        margin-bottom: 0px;
    }

    .botoes1 { /* Container dos botões*/
        margin-top: 2%;
    }

.btn1, .voltar1 { /* Botão ENTRAR */
    width: 19%;
    height: 26px;
    font-size: 13pt;
}

    #goToCreate { /* Link para tela criar conta*/
        font-size: 1.7em;
    }

    .text-danger { /* Mensagem caso o usuario não inserir um campo obrigatório*/
        font-size: 18pt;
    }

    .form-group1-create input { /* Todo o formulário */
        padding:4px;
        width: 75%;
        height: 20px;
    }

}

@media screen and (min-width: 1921px) and (max-width:2560px) {

    .containerForm { /* Formulario container */
        grid-template-rows: 4vmax 27vmax;
        grid-template-columns: 38vmax 35vmax;
    }

    #imgLogin2 { /* Imagem do banner*/
        width: 109%;
        margin-top: -100px;
        position: relative;
    }

    ::placeholder { /* Mensagem placeholder*/
        font-size: 25px;
    }

    .form-control{
        font-size:29px;   
    }


    .titulo2 h1 { /*Grid do titulo*/
        font-size: 2.5rem;
        margin-top: 3%;
    }

    p { /* Textos nome, email e senha*/
        font-size: 2.8em;
        margin-bottom: 0px;
    }

    .botoes1 { /* Container dos botões*/
        margin-top: 4.8%;
        margin-bottom: 0px;
    }

.btn1, .voltar1 { /* Botão ENTRAR */
    width: 17%;
    height: 30px;
    font-size: 17pt;
}

    #goToCreate { /* Link para tela criar conta*/
        font-size: 2.3em;
    }

    .text-danger { /* Mensagem caso o usuario não inserir um campo obrigatório*/
        font-size: 19pt;
    }

    .form-group1-create input { /* Todo o formulário */
        padding-top:10px;
        width: 75%;
        height: 20px;
    
    }

}