@model Seiton.Models.Usuario

@{
    ViewData["Title"] = "Create";
}



<style>

    #bacground {
        width: calc(100vw / 4 * 2.5);
        height: calc(100vh / 4 * 2.2);
        margin-left: calc(100vw / 6);
        margin-top: 10%;
        position: absolute;
        z-index: -1;
        border-radius: 60px 50px 60px 350px;
        background-color: #2A6092;
    }

    .col-md-4
    {
        margin-left: 55%;
        padding-top: 12%;
        width: 20%;
    }

    .form-group
    {
        margin-bottom: 8%;
    }

        .form-group h3
        {
            color: white;
            font-size: 1.2rem;
            margin-bottom: 4%;
            font-family: sans-serif;
        }

        .form-group input
        {
            background-color: transparent;
            border: none;
            width: 100%;
            font-size: 1.1rem;
            border-bottom: 2px solid white;
            border-radius: 0px;
            color: white;
        }

            .form-group input::placeholder 
            {
                color: lightgray;
            }

                    .form-group input:focus 
                    {
                        color: white;
                        background-color: transparent;
                        box-shadow: none;
                        outline: 0;
                    }

    .btn-success
    {
        margin-top: 5%;
        margin-left: 35%;
        font-size: 1.2rem;
        border-radius: 5px;
        border: none;
        padding: 5px;
        width: 35%;
        background-color: #4EAAFF;
        color: white;
        cursor: pointer;

    }
        .btn-success:hover
        {
            background-color: #37C936;
        }

    .ip-link
    {
        padding-bottom: 5%;
    }
        .ip-link a, span
        {
            font-family:sans-serif;
            color: white;
            font-size: 1.5rem;
            text-decoration: none;
        }

    img
    {
        width: 35%;
        position: absolute;
        margin-left: 18%;
        margin-top: 5%;
    }

</style>

<div id="bacground">
</div>

<img src="/img/Office.png"/>

<div class="col-md-4">
    <div class="ip-link">
        <a asp-area="" asp-controller="Usuarios" asp-action="Create">Cadastrar</a>
        <span>/</span>
        <a asp-area ="" asp-controller="Usuarios" asp-action="Login">Logar</a>
    </div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <h3>Nome do usuário</h3>
            <input asp-for="NomeUsuario" class="form-control" placeholder="Digite seu nome de usuário" />
            <span asp-validation-for="NomeUsuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h3>E-mail</h3>
            <input asp-for="Email" class="form-control" placeholder="Digite seu e-mail" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h3>Senha</h3>
            <input asp-for="Senha" class="form-control" placeholder="Digite sua senha" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <input type="submit" value="Cadastrar" class="btn-success" />

    </form>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
