@model Seiton.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div id="bacground">
</div>

<img src="/img/Office.png"/>

<div class="col-md-4">
    <header><h1>Cadastrar</h1> </header>  
   <main>  <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <h3>Nome do usuário</h3>
            <input asp-for="NomeUsuario" class="form-control" placeholder="Digite seu nome de usuário" />
            <span asp-validation-for="NomeUsuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h3>E-mail</h3>
            <input asp-for="Email" class="form-control" type="email" placeholder="Digite seu e-mail" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <h3>Senha</h3>
            <input asp-for="Senha" class="form-control" type="password" placeholder="Digite sua senha" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <input type="submit" value="Cadastrar" class="btn-success" />

    </form>
    </main>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
