@model Seiton.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<div>
    <div class="modal">
        <div class="modal-content">
            <h1>Apagar Usuário</h1>
            <hr />
            <p>Deseja realmente apagar seu usuário?</p>
            <p class="aviso">(Atenção! Todos os projetos serão perdidos)</p>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <a class="backPage">Voltar</a> |
                <input class="btn" type="submit" value="Apagar"/>
            </form>
        </div>
    </div>
</div>
