@model Seiton.Models.Usuario

@{
    ViewData["Title"] = "Login";
}
<div id="bacground">
</div>

<img src="/img/Office.png" />


<div class="row">
    <div class="col-md-4">
        <h1>Entrar</h1>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h3>Nome do usuário</h3>
                <input asp-for="NomeUsuario" class="form-control" placeholder="Digite seu nome de usuário" />
                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <h3>Senha</h3>
                <input asp-for="Senha" class="form-control" type="password" placeholder="Digite sua senha" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <input type="submit" value="Acessar" class="btn-success" />

        </form>

        <h3>@ViewBag.Message</h3>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
