@model Seiton.Models.Usuario

@{
    ViewData["Title"] = "Login";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/LoginStyle.css" />
</head>
<body>

<div id="box1">
    <div id="boxAll">

       <div class="imgOffice">
           <img src="~/img/Office.png" alt="Banner de login" id="imgLogin" />
       </div>

<header class="titulo">
    <h1>Logar</h1>  
</header>

<main class="formulario">

        <div class="row">
           <div class="col-md-4">
              <form asp-action="Login">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <p>Nome de usuário</p>
           <div class="form-group1">                             
              <input asp-for="NomeUsuario" class="form-control" placeholder="Digite seu usuário:" />
              <span asp-validation-for="NomeUsuario" class="text-danger"></span>
           </div>

        <p>Senha</p>
           <div class="form-group2">                              
              <input asp-for="Senha" class="form-control" placeholder="Digite sua senha:" type="password" />
              <span asp-validation-for="Senha" class="text-danger"></span>
           </div>
                       
            <input type="submit" value="Entrar" class="btn btn-success" />
                           
              </form>
           </div>
        </div>
</main>

<nav class="criarAcc">
     <a class="text-create-1" asp-area="" asp-controller="Usuarios" asp-action="Create">Criar conta</a>
</nav>
    </div>

</div>
<h3>@ViewBag.Message</h3>

</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





