@model Seiton.Models.Usuario

@{
    ViewData["Title"] = "Login";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/LoginStyle.css" />
</head>
<body>

<div id="box1">
    <div id="boxAll">

       <div class="imgOffice">
           <img src="~/img/Office.png" alt="Banner de login" id="imgLogin" />
       </div>

<header class="titulo">
    <h1>Logar</h1>  
</header>

<main class="formulario">

        <div class="row">
           <div class="col-md-4">
              <form asp-action="Login">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <p>Nome de usuário</p>
           <div class="form-group1">
                                <input asp-for="NomeUsuario" class="form-control" placeholder="Digite seu usuário:" /><br />
              <span asp-validation-for="NomeUsuario" class="text-danger"></span>
           </div>

        <p id="senhaTxt">Senha</p>
           <div class="form-group2">
                                <input asp-for="Senha" class="form-control" placeholder="Digite sua senha:" type="password" /><br />
              <span asp-validation-for="Senha" class="text-danger"></span>
           </div>

           <div class="botoes2">
              <a class="voltar2" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
              <input type="submit" value="Entrar" class="btn" />
                                
           </div>
                        <h3> @ViewBag.Message</h3>
                        </form>
           </div>
        </div>
        <div id="containerGoTo">
                <a id="goToCreate2" asp-area="" asp-controller="Usuarios" asp-action="Create">Não possui uma conta? Faça o cadastro!</a>
                </div>
</main>
           
    </div>
        
</div>


</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





