@model Seiton.Models.Usuario

<style>
    .modal {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #bcbcbc
    }

       .modal-content {
           display: inline;
           text-align: center;
           font-family: sans-serif;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           border: none;
           border-radius: 15px;
           background-color: #ffffff;
           padding: 20px;
       }

           .modal-content a {
               margin-top: 5%;
               font-size: 1.2rem;
               text-decoration: none;
               border-radius: 5px;
               border: none;
               padding: 5px;
               width: 15%;
               background-color: #4EAAFF;
               color: white;
               cursor: pointer;
           }

               .modal-content a:hover {
                   background-color: #2A6092;
               }

           .modal-content .btn {
               margin-top: 5%;
               font-size: 1.2rem;
               border-radius: 5px;
               border: none;
               padding: 5px;
               width: 23%;
               background-color: #4EAAFF;
               color: white;
               cursor: pointer;
           }

               .modal-content .btn:hover {
                   background-color: #D51414;
               }

    .aviso {
        color: #D51414;
    }

</style>
<!DOCTYPE html>
<html lang="pt-br">
<body>
<div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h1>Apagar Usuário</h1>
            <p>Deseja realmente apagar seu usuário?</p>
            <p class="aviso">(Atenção! Todos os projetos serão perdidos)</p>
            <form asp-controller="Usuarios" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <a asp-controller="Logados" asp-action="Logado">Voltar</a> |
                <input class="btn" type="submit" value="Apagar"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>